.arrow {
    content: "";
    width: 3px;
    height: 3px;
    border-right: 1.6px solid #3f3f40;
    border-top: 1.6px solid #3f3f40;
    display: inline-block;
    margin-top: 3px;
    transform: rotate(45deg);
}