
.linkText {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    margin-left: 1rem;
}

.linkText.underlineAnimation::before{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 1px;
    margin-top: .8px;
    background: #3f3f40;
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.linkContainer:hover .linkText.underlineAnimation::before{
    left: 0;
    width: 100%;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    align-items: center;
    width: 100%;
    cursor: pointer
}