.AsideNav {
    color: #3f3f40;
    padding: 1rem 0;
    max-width: 27%;
    width: 100%;
    background-color: rgb(250, 249, 249);
}

.menuItemContainer {
    font-family: "Nunito-Regular";
    transition: 300ms all;
    list-style: none;
}

/* .AsideNav .menuItemContainer:first-child {
    background-color: #ff5c38;
    color: white;
    width: 70%;
    border-radius: 5px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
 */
/* .AsideNav .menuItemContainer:first-child .linkText {
    margin-left: 0;
} */

/* .AsideNav .menuItemContainer:first-child .arrow {
    display: none;
} */

.AsideNav .menuItemContainer:first-child .linkContainer {
    clip-path: inset(0 1rem);
    background-color: #ff5c38;
    color: white;
    border-radius: 5px;
}

.menuItemContainer.isActive .linkContainer {
    font-family: "Nunito-Bold" !important;
    background-color: rgb(244, 242, 242);
}

.menuItemLink {
    padding: 0.7rem 2rem;
}
