.SubMenuContainer {
    width: 70%;
    padding: 2rem 3rem 1rem 3rem;
}

.SubMenuItemWrapper {
    padding: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    list-style: none;
    max-width: 100%;
}

.SubMenuItemWrapper.hasChildren {
    columns: 2 12em;
    -moz-columns: 2 12em;
    -webkit-columns: 2 12em;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    display: block;
}

.subMenuItem {
    padding: 0.5em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.subMenuItemTitle {
    color: #0071bb;
    padding-bottom: .4rem;
    display: block;
    text-decoration: none;
    font-family: 'Nunito-SemiBold';
}

.subMenuItemTitle a {
    text-transform: uppercase;
}

.SubMenuTitle {
    margin-top: 0;
    color: #0071bb;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.subMenuChildrenContainer {
    padding: 0;
}

.subMenuChildrenItemText {
    text-decoration: none;
    color: inherit;
}

.subMenuChildrenItem {
    list-style: none;
    padding: .1rem 0;
}