.wrapperAccordion {
    width: 100%;
}

.wrapperAccordion:first-child .menu--father {
    background-color: #ff5c38;
    border-radius: 5px;
    color: white;
    clip-path: inset(0px 2rem round 5px);
}

.menu--father {
    margin: 0;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: inherit;
}

.menu--father .titleAccordion {
    margin: 0;
    font-size: 1.2rem;
}

.menu--father,
.wrapperAccordion > .contentAccordion {
    padding: 0.5rem 3rem;
}

* {
    outline: none;
}

.contentAccordion {
    padding: 0;
}

.contentAccordion li {
    list-style: none;
}

.menu--category {
    font-family: "Nunito-SemiBold";
    padding: 0.3rem 0;
}

.menu--category {
    text-decoration: none;
    font-family: "Nunito-Bold";
    color: #0071bb;
    text-transform: uppercase;
}

.menu--subcategory {
    color: #808080;
    text-decoration: none;
    padding: 0.1rem 0;
    display: block;
}

.menu--wrapper {
    padding: 0 0 1rem 0;
}
