.SubMenuHeading {
    border-bottom: 1px solid #006db698;
    padding-bottom: 1rem;
    padding-left: 2rem;
    align-items: center;
    display: flex;
}

.SubMenuTitle {
    margin-right: 1rem;
}

.SubMenuHeadingLink {
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
    margin-right: .4rem;
}

.SubMenuHeadingLinkContainer {
    display: flex;
    align-items: center;
}